:root {
  // COLOR VARIABLES
  --color-primary: #c69963;
  --color-primary-dark: #b28451;
  --color-secondary: #101d2c;
  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;
  --color-grey-dark-1: #54483a;
  --color-grey-dark-2: #6d5d4b;

  // FONT VARIABLES
  --font-primary: 'Nunito', sans-serif;
  --font-display: 'Josefin Sans', sans-serif;

  //SPACE VARIABLES
  --default: 1.6rem;
  --small: 2rem;
  --medium: 4rem;
  --large: 8rem;
  --large-res: clamp(4rem, 8vw, 8rem);

  // --margin-large: 8rem;
  // --margin-medium: 4rem;
  // --margin-small: 2rem;

  // --padding: clamp(2rem, 8vw, 8rem);
  // --padding-large: 8rem;
  // --padding-medium: 4rem;
  // --padding-small: 2rem;

  // --gap-large: 8rem;
  // --gap-medium: 4rem;
  // --gap-small: 2rem;
}

////BREAK-POINTS
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 26.25em; //425px

// RESET
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1 rem = 10px
}

body {
  font-family: var(--font-primary);
  font-size: var(--default);
  font-weight: 300;
  color: var(--color-grey-dark-2);
  line-height: 1.6;

  display: grid;
  grid-template-columns: min-content 1fr;

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: 1fr;
  }
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: var(--default);
}

.content {
  & > *:not(:last-child) {
    margin-bottom: var(--large-res);
  }
}
