%heading {
  font-family: var(--font-display);
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
  font-size: clamp(2.5rem, 5vw, 4.5rem);
  margin: 0.3em 0;
  color: var(--color-grey-light-1);
  line-height: 1;
}

.heading-2 {
  @extend %heading;
  font-size: clamp(2rem, 4vw, 4rem);
  font-style: italic;
  line-height: 1;

  &--light {
    color: var(--color-grey-light-1);
  }
  &--dark {
    color: var(--color-grey-dark-1);
  }
}

.heading-3 {
  @extend %heading;
  font-size: clamp(1.6rem, 2vw, 1.9rem);
  color: var(--color-primary);
  text-transform: uppercase;
}

.heading-4 {
  @extend %heading;
  font-size: 1.6rem;

  &--light {
    color: var(--color-grey-light-1);
  }
  &--dark {
    color: var(--color-grey-dark-1);
  }
}

.text {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-style: italic;
}

.btn {
  background-color: var(--color-primary);
  color: #fff;
  border: 0;
  border-radius: 0;
  font: var(--font-display);
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  text-transform: uppercase;
  cursor: pointer;
  padding: 1em 2em;
  transition: all 0.2s;

  &:hover {
    background-color: var(--color-primary-dark);
  }
}

svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
